$colorPrimario: aliceblue;
$Body-font-family: Bebas Neue;
$body:(
    background-image: url(../img/randomfondo.jpg),
    background-positio: center,
    background-attachment: fixed,
    background-repeat:initial,
    background-size: 100%,
    background-size: cover,
);