@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$colorPrimario: aliceblue;
$Body-font-family: Bebas Neue;
body{
    background-image: url(../img/randomfondo.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat:initial;
    background-size: 100%;
    background-size: cover;
    .nav-link{
        color: $colorPrimario;
        font-family: $Body-font-family;
        font-size: 35px;
    }
    .frase{
        font-family: $Body-font-family;
        color: $colorPrimario;
        font-size: 100px;
    }
}

.fondeGui{
    background-image: url(../img/fondeGuiR.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: initial;
    background-size: 100%;
    background-size: cover;
    .fraseQuemSou{
        font-family: $Body-font-family;
        color: $colorPrimario;
        font-size: 45px;
    }
}

p{
    font-family: $Body-font-family;
    color: $colorPrimario;
    font-size: 30px;
}
h4{
    font-family: $Body-font-family;
    color: $colorPrimario;
    font-size: 45px;
}

/*-------GALERIA CON GRID-----*/

.fondoGal{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 65px auto 80px;
    grid-template-areas: " header header header "
                        " main    main   main   "
                        " footer  footer footer ";
    background-image: url(../img/randomfondo.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat:initial;
    background-size: 100%;
    background-size: cover;
    position: relative;
    margin-bottom: 4em;
    min-height: 100vh;
    .header{
        grid-area: header;
    }
    .logo{
        margin: 15px;
        padding: 15px;
        max-width: 100px;
        max-height: 100px;
    }
}
/*----MAIN----*/
.main{
    grid-area: main;
    .fraseGal{
        margin: 85px;
        padding: 30px;
        font-family: $Body-font-family;
        color: $colorPrimario;
        font-size: 45px;
    }
    .divG{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 35px;
        row-gap: 25px;
        img{
            max-width: 450px;
            max-height: 350px;
            transition: all 1s;
        }
        .mainImg:hover{
            transform: translate(50px,30px) scale(1.2);
        }
        .mainImg1:hover{
            transform: translate(-50px,-30px) scale(1.2);
        }
        .mainImg2:hover{
            transform: scale(1.2);
        }
    }
}

/*--------CONTACTO---------*/
.titu{
    font-family: $Body-font-family;
    color: $colorPrimario;
    font-size: 45px;
    text-align: start;
}

.formRegister{
    width: 400px;
    padding: 20px;
    margin: 45px;
    box-shadow: 7px 13px 37px #000;
    .controls{
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: none;
        font-family: $Body-font-family;
    }
    .botons{
        width: 100%;
        border: none;
        padding: 10px;
        margin: 16px 0;
        font-family: $Body-font-family;
        font-size: 15px;
    }
}

/*---FOOTER---*/

footer{
    grid-area: footer;
    width: 100%;
    font-family: $Body-font-family;
    color: $colorPrimario;
    .img{
        margin-left: 15px;
        padding: 15px;
        text-align: center;
    }
    .pie{
        width: 100%;
        text-align: center;
    }
}




