@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin propiedades ($ancho,$relleno,$margen) {
    width: $ancho;
    padding: $relleno;
    margin: $margen;
}

body{ 
    background-image: url(../img/randomfondo.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat:initial;
    background-size: 100%;
    background-size: cover;
    .nav-link{
    color: $colorPrimario;
    font-family: $Body-font-family;
    font-size: 35px;
    }
    .frase{
    font-family: $Body-font-family;
    color: $colorPrimario;
    font-size: 100px;
    }
}

.fondeGui{
    background-image: url(../img/fondeGuiR.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: initial;
    background-size: 100%;
    background-size: cover;
    .fraseQuemSou{
        margin: 50px;
        font-family: $Body-font-family;
        color: $colorPrimario;
        font-size: 45px;
    }
    p{
        margin: 20px;
        font-family: $Body-font-family;
        color: $colorPrimario;
        font-size: 25px;
    }
}

.fotosParrafos{
    font-family: $Body-font-family;
    color: $colorPrimario;
    .imgTarjeta{
        margin: 35px;
        box-shadow: 7px 13px 37px #000; 
    }
    .textTarjeta{
        margin: 25px;
        font-family: $Body-font-family;
        color: $colorPrimario;
        font-size: 30px;
    }
    .tituTarjeta{
        margin: 35px;
        font-size: 60px;
    }
}
.textTarjeta1{
    margin: 25px;
    color: $colorPrimario;
    font-size: 30px

}
.textTarjeta2{
    @extend .textTarjeta1;
}

/*-------GALERIA CON GRID-----*/

.fondoGal{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 65px auto 80px;
    grid-template-areas: " header header header "
                        " main    main   main   "
                        " footer  footer footer ";
    background-image: url(../img/randomfondo.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat:initial;
    background-size: 100%;
    background-size: cover;
    position: relative;
    margin-bottom: 4em;
    min-height: 100vh;
    .header{
        grid-area: header;
    }
}
.main{
    grid-area: main;
    .fraseGal{
        margin: 85px;
        padding: 30px;
        font-family: $Body-font-family;
        color: $colorPrimario;
        font-size: 45px;
    }
    .divG{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 35px;
        row-gap: 25px;
        img{
            transition: all 1s;
            box-shadow: 7px 13px 37px #000; 
        }
        .mainImg:hover{
            transform: translate(50px,30px) scale(1.2);
        }
        .mainImg1:hover{
            transform: translate(-50px,-30px) scale(1.2);
        }
        .mainImg2:hover{
            transform: scale(1.2);
        }
    }
}
/*--------CONTACTO---------*/
.titu{
    margin: map-get($titulo , margin );
    font-family: map-get($titulo , font-family );
    color: map-get($titulo , color );
    font-size: map-get($titulo , font-size );
}

.formRegister{
    box-shadow: 7px 13px 37px #000;
    @include propiedades(800px,50px,90px)
}

.controls{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: none;
    font-family: $Body-font-family;
}
.botons{
    width: 100%;
    border: none;
    padding: 10px;
    margin: 16px 0;
    font-family: $Body-font-family;
    font-size: 15px;
}

/*---FOOTER---*/

footer{
    font-family: $Body-font-family;
    color: $colorPrimario;
    .img{
        margin-left: 15px;
        padding: 15px;
        text-align: center;
    }
    .pie{
        width: 100%;
        text-align: center;
    }
}



@media(max-width:768px){
    .fonde{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px auto ;
        grid-template-areas: " header"
                            " main  "
                            "footer ";    
    }

    .main .divG{
        grid-template-columns: 1fr 1fr;
    }

    .frase{
        font-size: 50px;
    }
    .fraseQuemSou{
        margin: 35px;
        padding: 10px;
        font-size: 10px;
    }
    .p{
        margin: 35px;
        padding: 20px;
        font-size: 15px;
    }

    .formRegister{
        width: 500px;
        padding: 50px;
        margin: 90px;}

}
@media(max-width: 450px){

    .fondeGui{
        background-position: right;
    }
    .fondoGal{   
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: " header "
                            " main   "
                            " footer ";
    }
    .fraseGal{
        width: 80vw;
        font-size: 40px;
        margin: 5px;
    }
    p{
        margin: 15px;
        padding: 20px;
        font-size: 15px;
    }

    .main .divG{
        grid-template-columns: 1fr;
    }

    .formRegister{
    width: 400px;
    padding: 20px;
    margin: 20px;
    }
    .titu{
        margin: 25px;
        font-size: 55px;
    }
    .fondeGui footer{
        position: relative;
    }
}

@media(max-width: 320){
    .frase{
        font-size: 5px !important;
    }
}
@media (max-width: 616px){
    .fondeGui p{
        font-size: 20px;
        width: 90%;
        margin: 25px;
    }
}


@media (max-width: 548px){
    .footer{
    position: relative !important;}
}
