@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/randomfondo.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: initial;
  background-size: 100%;
  background-size: cover;
}
body .nav-link {
  color: aliceblue;
  font-family: Bebas Neue;
  font-size: 35px;
}
body .frase {
  font-family: Bebas Neue;
  color: aliceblue;
  font-size: 100px;
}

.fondeGui {
  background-image: url(../img/fondeGuiR.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: initial;
  background-size: 100%;
  background-size: cover;
}
.fondeGui .fraseQuemSou {
  margin: 50px;
  font-family: Bebas Neue;
  color: aliceblue;
  font-size: 45px;
}
.fondeGui p {
  margin: 20px;
  font-family: Bebas Neue;
  color: aliceblue;
  font-size: 25px;
}

.fotosParrafos {
  font-family: Bebas Neue;
  color: aliceblue;
}
.fotosParrafos .imgTarjeta {
  margin: 35px;
  box-shadow: 7px 13px 37px aliceblue;
}
.fotosParrafos .textTarjeta {
  margin: 25px;
  font-family: Bebas Neue;
  color: aliceblue;
  font-size: 30px;
}
.fotosParrafos .tituTarjeta {
  margin: 35px;
  font-size: 60px;
}

/*-------GALERIA CON GRID-----*/
.fondoGal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 65px auto 80px;
  grid-template-areas: " header header header " " main    main   main   " " footer  footer footer ";
  background-image: url(../img/randomfondo.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: initial;
  background-size: 100%;
  background-size: cover;
  position: relative;
  margin-bottom: 4em;
  min-height: 100vh;
}
.fondoGal .header {
  grid-area: header;
}

.main {
  grid-area: main;
}
.main .fraseGal {
  margin: 85px;
  padding: 30px;
  font-family: Bebas Neue;
  color: aliceblue;
  font-size: 45px;
}
.main .divG {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 35px;
  row-gap: 25px;
}
.main .divG img {
  transition: all 1s;
  box-shadow: 7px 13px 37px aliceblue;
}
.main .divG .mainImg:hover {
  transform: translate(50px, 30px) scale(1.2);
}
.main .divG .mainImg1:hover {
  transform: translate(-50px, -30px) scale(1.2);
}
.main .divG .mainImg2:hover {
  transform: scale(1.2);
}

/*--------CONTACTO---------*/
.titu {
  margin: 50px;
  font-family: Bebas Neue;
  color: aliceblue;
  font-size: 60px;
}

.formRegister {
  width: 800px;
  padding: 50px;
  margin: 90px;
  box-shadow: 7px 13px 37px aliceblue;
}
.formRegister .controls {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: none;
  font-family: Bebas Neue;
}
.formRegister .botons {
  width: 100%;
  border: none;
  padding: 10px;
  margin: 16px 0;
  font-family: Bebas Neue;
  font-size: 15px;
}

/*---FOOTER---*/
footer {
  grid-area: footer;
  width: 100%;
  font-family: Bebas Neue;
  color: aliceblue;
}
footer .img {
  margin-left: 15px;
  padding: 15px;
  text-align: center;
}
footer .pie {
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .fonde {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px auto;
    grid-template-areas: " header" " main  " "footer ";
  }
  .main .divG {
    grid-template-columns: 1fr 1fr;
  }
  img {
    max-width: 350px;
    max-height: 300px;
  }
  .frase {
    font-size: 50px;
  }
  .fraseQuemSou {
    margin: 50px;
    padding: 15px;
    font-size: 20px;
  }
  p {
    margin: 35px;
    padding: 20px;
    font-size: 15px;
  }
  .formRegister {
    width: 500px;
    padding: 50px;
    margin: 90px;
  }
}
@media (max-width: 450px) {
  .fondeGui {
    background-position: right;
  }
  .fondoGal {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: " header " " main   " " footer ";
  }
  .fraseGal {
    width: 80vw;
    font-size: 40px;
    margin: 5px;
  }
  p {
    margin: 15px;
    padding: 20px;
    font-size: 15px;
  }
  .main .divG {
    grid-template-columns: 1fr;
  }
  img {
    max-width: 350px;
    max-height: 300px;
    margin: 15px;
  }
  .formRegister {
    width: 400px;
    padding: 20px;
    margin: 20px;
  }
  .titu {
    margin: 25px;
    font-size: 55px;
  }
  .fondeGui footer {
    position: relative;
  }
}
@media (max-width: 320) {
  .frase {
    font-size: 10px;
  }
}