@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
  background-image: url(../img/randomfondo.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: initial;
  background-size: 100%;
  background-size: cover;
}
body .nav-link {
  color: aliceblue;
  font-family: Bebas Neue;
  font-size: 35px;
}
body .frase {
  font-family: Bebas Neue;
  color: aliceblue;
  font-size: 100px;
}

.fondeGui {
  background-image: url(../img/fondeGui.jpeg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: initial;
  background-size: 100%;
  background-size: cover;
}
.fondeGui .fraseQuemSou {
  font-family: Bebas Neue;
  color: aliceblue;
  font-size: 45px;
}

p {
  font-family: Bebas Neue;
  color: aliceblue;
  font-size: 30px;
}

h4 {
  font-family: Bebas Neue;
  color: aliceblue;
  font-size: 45px;
}

.form-label {
  font-family: Bebas Neue;
  color: aliceblue;
  font-size: 20px;
}

/*---FOOTER---*/
footer {
  grid-area: footer;
  width: 100%;
  font-family: Bebas Neue;
  color: aliceblue;
}
footer .img {
  margin-left: 15px;
  padding: 15px;
  text-align: center;
}
footer .pie {
  width: 100%;
  text-align: center;
}